body {
  background-color: #FFFFFF;
  font-family: "Lustria", "Georgia", serif;
  font-size:15
  margin: 1em;
}

img {
  border-style: none
}

P {
}

.center {
  text-align: center;
}

a:link {
  text-decoration: none;
  color:#222288
}
a:visited {
  text-decoration: underline;
  color:#333399
}
a:active {
  text-decoration: underline;
  color:#5566ee
}
a:hover {
  text-decoration: underline;
  color:#FF6C00
}

hr {
  color: 888888;
  height: 1px;
}

#phototable {
  border: outset 3pt #556688;
  border-collapse: collapse;
  background-color: #7788aa;
}

caption {
  font-size:12
}

select {
  font-size: 11px;
  font-family: 'Comic Sans MS', serif;
  font-weight: 600;
  color: #660000;
  height: 18px;
  vertical-align: text-bottom;
}

option {
  font-size: 10pt;
  font-family: 'Comic Sans MS', serif;
  font-weight: 600;
  color: #660000;
  height: 18px;
  vertical-align: text-bottom;
}

option.title {
  background-color: #cc0000;
  font-weight: bold;
  font-size: 10px;
  color: white;
}
